Nombre: {{ NOMBRE }} Apellido: {{ APELLIDO }}
Division: {{ DIVISION }}
Fecha: {{ ansible_bios_date }}
-----------------------------
Distribucion: {{ ansible_facts.distribution }}
Cantidad de Cores: {{ ansible_processor_cores }}
